---
import Hero from "sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ProductsPop from "sections/ProductsPop.astro";
import Categories from "sections/Categories.astro";
import Contact from "sections/Contact.astro";
import About from "sections/About.astro";
import Marks from "@/Marks.astro";
---

<Layout title="Zatecno">
  <main>
    <Hero />
    <Marks client:load/>
    <ProductsPop />
    <Categories />
    <Contact />
    <About />
  </main>
</Layout>
