---

---

<section class="h-screen">
    <header class="flex justify-center items-center pt-5">
        <img src="/logo.png" alt="Logo de Zatecno" class="">
    </header>
  <div class="flex flex-col justify-center items-center mt-52 max-w-[1024px] mx-auto">
    <h2 class="text-[#E67817] text-2xl font-semibold">GRACIAS.</h2>
    <p class="mt-10 w-full  text-center">Su consulta ha sido enviada. En breve le responderemos.</p>

    <a href="/" class="w-44 h-12 rounded-xl bg-[#E67817] text-white flex justify-center items-center mt-10">Volver al inicio</a>

    <p class="font-thin mt-2">
      Contactanos a <span class="text-blue-600 semibold">info@zatecno.com</span> si necesitas realizar alguna
      consulta en especifica.
    </p>
  </div>
</section>
