---

---

<a href="categories/example" class="w-80 h-24 rounded-lg shadow-lg shadow-gray-700 flex justify-center items-center gap-10 bg-gray-200 hover:scale-105 transition-all hover:bg-gray-500 hover:text-white">
  <slot />
</a>
