---
import CardMaps from "@/CardMaps.astro";
import Maps from "@/Maps.astro";
---

<section class="h-auto mb-16" id="about">
  <div class="max-w-[1024px] mx-auto">
    <h2 class="text-2xl font-semibold text-[#E67817] mb-5 max-sm:pl-10 max-sm:mt-16">Mas informacion</h2>
    <div class="flex justify-center items-center font-semibold max-sm:flex-col bg-[#E67817] rounded-t-lg">
      <CardMaps>
        <h3 class="text-white text-2xl font-semibold">DONDE ESTAMOS</h3>
        <p class="text-center mt-5">
          Resistencia 1152ntre Fray J. Lagos y Santiago
        </p>
        <p>Lanus Oeste (CP: 1824)</p>
      </CardMaps>
      <CardMaps>
        <h3 class="text-white text-2xl font-semibold">CONTACTANOS</h3>
        <p class="mt-5">info@zatecno.com</p>
        <p>ventas@zatecno.com</p>
        <p>15 5418 0795</p>
      </CardMaps>
      <CardMaps>
        <h3 class="text-white text-2xl font-semibold">NUESTROS HORARIOS</h3>
        <p class="text-center mt-5">Lunes a viernes 09 a 18hs.</p>
        <p>Sabados de 09 a 13hs.</p>
      </CardMaps>
    </div>
    <Maps />
  </div>
</section>
