---

---

<section class="flex flex-col justify-center items-center h-screen max-sm:-mb-52">

  <video
    src="/zatecno-yt.mp4"
    loop
    muted
    autoplay
    class="w-full absolute -z-10 opacity-75 top-0 h-screen max-sm:top-24"
  >
  </video>
  <div class="flex flex-col justify-center items-center text-center">
    <h1 class="text-7xl font-bold lg:w-[1000px] text-center text-wrap max-sm:text-2xl max-sm:-mt-[500px]">
      DISTRIBUCION MAYORISTA DE MATERIALES ELECTRONICOS DE ALTA CALIDAD
    </h1>
    <h2 class="text-3xl font-thin pt-5 max-sm:text-lg">PARA TODAS LAS INDUSTRIAS Y NEGOCIOS.</h2>

    <a
      href=""
      class="w-44 h-12 rounded-xl bg-[#E67817] text-white flex justify-center items-center mt-5"
      >Descarga el catalogo</a
    >
  </div>
</section>
