---
import CardProducts from "@/CardProducts.astro";
---

<section class="h-screen max-sm:h-auto mb-14" id="products">
  <div class="max-w-[1024px] mx-auto max-sm:mb-16">
    <h2 class="text-2xl font-semibold text-[#E67817] max-sm:pl-10">Productos populares</h2>
    <div class="flex flex-wrap justify-center items-center mx-auto gap-8 mt-12">
      <CardProducts>
        <img src="/products/1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">CABLE UNIPOLAR</p>
      </CardProducts>
      <CardProducts>
        <img src="/products/2.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">LAMPARAS LED</p>
      </CardProducts>
      <CardProducts>
        <img src="/products/3.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">PRODUCTOS SICA</p>
      </CardProducts>
      <CardProducts>
        <img src="/products/4.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">PRODUCTOS JELU</p>
      </CardProducts>
      <CardProducts>
        <img src="/products/5.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">CANO CORRUGADO</p>
      </CardProducts>
      <CardProducts>
        <img src="/products/6.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">CAJAS PARA LUZ</p>
      </CardProducts>
    </div>
  </div>
</section>
