---
import CardProducts from "@/CardProducts.astro";
---

<section class="h-screen" id="products">
  <div class="max-w-[1024px] mx-auto">
    <h2 class="text-2xl font-semibold text-[#E67817]">Productos populares</h2>
    <div class="flex flex-wrap justify-center items-center mx-auto gap-8 mt-12">
      <CardProducts>
        <img src="/img-1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">Consumos</p>
      </CardProducts>
      <CardProducts>
        <img src="/img-1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">Consumos</p>
      </CardProducts>
      <CardProducts>
        <img src="/img-1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">Consumos</p>
      </CardProducts>
      <CardProducts>
        <img src="/img-1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">Consumos</p>
      </CardProducts>
      <CardProducts>
        <img src="/img-1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">Consumos</p>
      </CardProducts>
      <CardProducts>
        <img src="/img-1.jpg" alt="" class="w-80 h-56 rounded-xl" />
        <p class="mt-7">Consumos</p>
      </CardProducts>
    </div>
  </div>
</section>
